<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>This project is a project for the Virtualization and Cloud Computing module realized by : Moustafa JAOUAD, Omar EZZARQTOUNI and Youssef FHAL </p>
    
    <p style=" margin-left: auto; width: fit-content; ">Supervised by : <span class="supervised" style="font-weight: 700; ">Ms.Hayat Routaib</span></p>
     
    <ul class="actions">
      <li><a  href="/who" class="button scrolly">Learn more</a></li>
    </ul>
  </div>
</section>
