<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>Enabling digital transformation for global organizations.</p>
    <p>We are Problem solvers. Our happiness lies in diving deep into architecture, design and code..</p>
    <ul class="actions">
      <li><a href="/contact" class="button scrolly">Contact Us Anyways</a></li>
    </ul>
  </div>
</section>
